gactions/*
secrets/*
www/*
.DS_Store
._.DS_Store
._home-assistant.log
.config_entries.json
.ring_cache.pickle
.smbdeleteAAA1be9
.uuid
OZW_Log.txt
entity_registry.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
options.xml
plex.conf
pyozw.sqlite
secrets.yaml
zwcfg_0xdb4ea92d.xml
zwscene.xml
