.ignore/
.storage/
.DS_Store
._.DS_Store
._home-assistant.log
.config_entries.json
.HA_VERSION
.ring_cache.pickle
.smbdeleteAAA1be9
.spotify-token-cache
.uuid
downloads/
gactions/
www/
secrets/
tts/
OZW_Log.txt
entity_registry.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
options.xml
plex.conf
pyozw.sqlite
sabnzbd.conf
secrets.yaml
*SERVICE_ACCOUNT.JSON*
zwcfg_0xdb4ea92d.xml
zwscene.xml
